*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# mac
.DS_Store
.DS_Store?
*~

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea
.idea/*
*.iml
## eclipse
.classpath
.project
.settings
.tern-project
.springBeans

## maven
/target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/web/.project
