<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出。 -->
<!-- monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数。 -->
<configuration status="warn" monitorInterval="30">
	<Properties>
		<Property name="baseDir">logs</Property>
	</Properties>
	<!--先定义所有的appender -->
	<appenders>
		<Console name="ConsoleLog" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n
				</Pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="RollingFileLog" fileName="${baseDir}/app.log" filePattern="${baseDir}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="12" modulate="true"/>
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
	</appenders>
	<!--然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
	<loggers>
		<!--建立一个默认的root的logger -->
		<root level="INFO">
			<!-- <appender-ref ref="RollingFileLog" /> -->
			<appender-ref ref="ConsoleLog" />
		</root>
	</loggers>
</configuration>