<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>用户注册</title>
<div th:replace="common/head::header" />
</head>
<body>
    <div class="header">
        <a href="../index.html" th:href="@{/}">
            <img src="img/logo.png" th:src="@{/resources/static/image/log.png}" class="logo" />
        </a>
    </div>
    <div class="row-fluid login-wrapper">
        <div class="box">
            <div class="content-wrap">
                <h6>注册</h6>
                <input class="span12" type="text" placeholder="E-mail address" />
                <input class="span12" type="password" placeholder="Password" />
                <input class="span12" type="password" placeholder="Confirm Password" />
                <div class="action">
                    <a class="btn-glow primary signup" href="index.html">Sign up</a>
                </div>
            </div>
        </div>
        <div class="span4">
            <p>已经有账户？</p>
            <a href="../index.html" th:href="@{/sign-in}">登录</a>
        </div>
    </div>
    <!-- scripts -->
    <script th:src="@{/resources/public/jquery-core/jquery-3.1.0.js}"></script>
    <script th:src="@{/resources/public/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
